
h1, h2, h3, h4 {
  font-family: 'Raleway', sans-serif;
}


.flare-input > label {
    display: inline-block;
    width: 100px;
}

.flare-input {
    margin-bottom: 10px;
}

.flare-input-number {
    width: 85px;
}

input:invalid {
    background-color: red;
}

fieldset {
    border: none;
    padding: 0px;
}

fieldset legend {
    padding: 0px;
    width: 100px;
    float: left;
}

fieldset label {
    margin-right: 10px;
    cursor: pointer;
}

#output {
    margin-top: 20px;
}

#output > div {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: #ccc;
}

#output > div.on {
    background-color: #ebdd13;
}
